@using TalkgroupService
@using TowerRadioService

@model TalkgroupDetailViewModel

@(Html.Kendo().Grid<TowerRadioViewModel>()
    .Name("TowerRadiosGrid")
    .Columns(column =>
    {
        column.Bound(col => col.RadioID)
            .Title("ID")
            .Width(100)
            .Filterable(true);
        column.Bound(col => col.RadioName)
            .Filterable(filter => filter.Extra(false));
        column.Bound(col => col.FirstSeen)
            .Format("{0:MM-dd-yyyy HH:mm}")
            .Width(150)
            .Filterable(true);
        column.Bound(col => col.LastSeen)
            .Format("{0:MM-dd-yyyy HH:mm}")
            .Width(150)
            .Filterable(true);
        column.Bound(col => col.AffiliationCount)
            .Title("Affiliations")
            .Format("{0:#,##0}")
            .Width(100)
            .Filterable(false);
        column.Bound(col => col.DeniedCount)
            .Title("Denied")
            .Format("{0:#,##0}")
            .Width(100)
            .Filterable(false);
        column.Bound(col => col.VoiceCount)
            .Title("Voice")
            .Format("{0:#,##0}")
            .Width(100)
            .Filterable(false);
        column.Bound(col => col.EncryptedCount)
            .Title("Encrypted")
            .Format("{0:#,##0}")
            .Width(100)
            .Filterable(false);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
                            <div class="toolbar-category">
                                @Html.Label("Tower")
                                @(Html.Kendo().DropDownList()
                                    .Name("TowerDropDownList")
                                    .HtmlAttributes(new { @style = "width: 250px;" })
                                    .DataTextField("Title")
                                    .DataValueField("TowerNumber")
                                    .Events(events => events.DataBound("TalkgroupRadioTowerGrids.TowerDataBound")
                                        .Change("TalkgroupRadioTowerGrids.TowerChange"))
                                    .DataSource(dataSource =>
                                        dataSource.Read(read => read.Action("GetTowerList", "Talkgroup", new { systemID = Model.SystemID, talkgroupID = Model.TalkgroupID })
                                            .Data("DetailSearches.GetSearchData"))))
                            </div>
                            <div class="toolbar-category">
                                @Html.Label("Date")
                                @(Html.Kendo().DropDownList()
                                    .Name("DateDropDownList")
                                    .HtmlAttributes(new { @style = "width: 200px;" })
                                    .DataTextField("DateText")
                                    .DataValueField("Date")
                                    .OptionLabel("* All dates *")
                                    .AutoBind(false)
                                    .Events(events => events.DataBound("TalkgroupRadioTowerGrids.DateDataBound")
                                        .Change("TalkgroupRadioTowerGrids.DateChange"))
                                    .DataSource(dataSource =>
                                        dataSource.Read(read => read.Action("GetDateList", "Talkgroup", new { systemID = Model.SystemID, talkgroupID = Model.TalkgroupID })
                                            .Data("TalkgroupRadioTowerGrids.GetTowerNumber"))))
                            </div>
                            <div class="toolbar-export">
                                <a href="#" class="k-button k-button-icontext k-grid-excel" title="Export data to Excel">
                                    <span class="k-icon k-i-excel"></span>Export
                                </a>
                            </div>
                        </text>);
    })
    .Filterable(filter =>
    {
        filter.Enabled(true);
        filter.Operators(operators =>
        {
            operators.ForNumber(number =>
                number.Clear()
                    .IsGreaterThanOrEqualTo(">=")
                    .IsLessThanOrEqualTo("<="));

            operators.ForString(str =>
                str.Clear()
                    .Contains("Contains"));

            operators.ForDate(date =>
                date.Clear()
                    .IsGreaterThanOrEqualTo(">=")
                    .IsLessThanOrEqualTo("<="));
        });
    })
    .Scrollable(scroll => scroll.Height(575))
    .Sortable(sort =>
        sort.SortMode(GridSortMode.SingleColumn)
            .AllowUnsort(false))
    .Pageable(pageable =>
        pageable.Input(true)
            .Refresh(true))
    .Selectable(selectable =>
        selectable.Mode(GridSelectionMode.Single)
            .Type(GridSelectionType.Row))
    .Events(events =>
        events.Change("TowerGrids.RadioChange")
            .FilterMenuInit("Filters.TowerFilterFormats")
            .ExcelExport("TalkgroupRadioTowerGrids.SetTowerTalkgroupRadiosFilename"))
    .Excel(excel =>
        excel.AllPages(true)
            .Filterable(true))
    .AutoBind(false)
    .DataSource(dataSource =>
        dataSource.Ajax()
            .PageSize(15)
            .ServerOperation(true)
            .Sort(sort => sort.Add("RadioID").Ascending())
            .Read(read => read.Action("GetTowerRadios", "Talkgroup", new { systemID = Model.SystemID, talkgroupID = Model.TalkgroupID })
                .Data("TalkgroupRadioTowerGrids.GetSelectedOptions"))))
